<%= form_for :import, :url => {:action => :process_import}, :html => {:multipart => true} do |f| %>
  <table>
    <tr>
      <td><%= label_tag  "import_file", "Select a file for import" %></td>
      <td><%= f.file_field :file %></td>
    </tr>
    <tr>
      <td><%= submit_tag 'Import it!' %></td>
    </tr>
  </table>
<% end %>